.fondo
{
  --background: url("../../../assets/img/fondoss.png") 0 0/100% 100% no-repeat;
}


ion-card-content
{
    color: white !important;
    font-size: medium;
}

.card
{
    --background-color: #000000b2 !important;
}

.boton
{
    position: relative;
    left: 150px;
 
}