<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="" slot="start" color="light"  icon="arrow-undo"></ion-back-button>
    <ion-title style="text-align: center;" color="light">  
      
      PEDIR MESA 
      <ion-icon name="restaurant"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="fondo">
  <ion-content *ngIf="loading" class="ion-padding ion-text-center">
    <img src="../../assets/img/spinner.gif" style="margin-top:50%;position: absolute;left: 36%;" width="116" height="116">
</ion-content>
    <ion-button  (click)="listaEsperaQR()" class="qr" color="success"><ion-icon name="qr-code-outline" class="icono"></ion-icon></ion-button>
  
  
</ion-content>