ion-content
{
    --background: url("../../../assets/img/fondoss.png") 0 0/100% 100% no-repeat;
}
.boton1
{
    position: relative;
   left: 20px;
   top: 5px;
}
.card
{
    background-color: rgba(0, 0, 0, 0.705);
    width: 360px;
    left: 12px;
} 
.pedidos
{
    text-align: center;
    color: white;
    font-size: x-large;
}
.derivar
{
    position: relative;
    width: 350px;
    height: 50px;
    background-color: black;
    color: white;
    border: white 2px solid;
    top: -6px;
    font-size: large;
}