<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/home" slot="start" style="color: black;" icon="arrow-undo"></ion-back-button>
    <ion-title style="color: black; text-align: center; font-size: larger;">
      <i> <b>PEDIDO BARTENDER</b> </i>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content *ngIf="loading" class="ion-padding ion-text-center">
    <img src="../../assets/img/spinner.gif" style="margin-top:50%;position: absolute;left: 36%;" width="116" height="116">
</ion-content>
  <div *ngFor = "let pedido of listaPedido">
 
      
        <ion-button  size="large"(click)="mostrarPedido(pedido.mesa,pedido.platosBebida)" class="boton1">Pedido para la mesa N {{pedido.mesa}}
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
        <ion-card class="card">
        <div *ngIf="mostrar== true && mesa== pedido.mesa" class="pedidos">
           <br>
          <div  *ngFor = "let pedido of pedido.platosBebida" >
            {{pedido}} <br><hr width="500px;" color="black" size="10">
          </div>      
        <div *ngIf = "nany === 0 && pedido.estadoBartender ==='pendiente'">
        <ion-button (click)="elaborarPedido(pedido.mesa)" class="derivar">ELABORAR PEDIDO</ion-button>
      </div>
      <div *ngIf = "nany === 1">
        <ion-button (click)="pedidoListo(pedido.mesa)"  class="derivar">PEDIDO LISTO</ion-button>
      </div>
      </div>
    </ion-card>
  </div>

</ion-content>
