@import url(https://fonts.googleapis.com/css?family=Audiowide);


ion-content.background{
    --background: url("../../../assets/img/otrodiseño.png") 0 0/100% 100% no-repeat;
}

#container{
    text-align: center;
    
}
.img{
  position: absolute;
  height: 120px;
  width: 120px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 5%;
  background-size: 100% auto;
  top: 18px;
  left: 140px;

}
.dni
{
  position: relative;
  left: 130px;
}

#container{
    text-align: center;
    
}

//ESTO HACE QUE LOS H1 DENTRO DE ion-card-content SEAN FACHEROS.
ion-avatar
{
position: absolute;
margin: auto;
width: 200px;
height: 200px;
top: -25px;
left: 98px;
}
.camera
{
position: absolute;
left: 148px;
top: 140px;
width: 100px;

}

  .item{
    
    border-radius: 5px;
  background-color: black;
  width: 250px;
  left: 18px;
  
  }

.cliente{
    background: #a52d1dc7;
    border: 1px solid #191919;
    border-radius: .4em;
    bottom: 0;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    height: 555px;
    left: 0;
    margin: auto;
    overflow: hidden;
    right: 0;
    top: 190px;
    width: 320px;
    border: 15px solid #802216;
}
.anonimo{
  background: #a52d1dc7;
  border: 1px solid #191919;
  border-radius: .4em;
  bottom: 0;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
  height: 370px;
  left: 0;
  margin: auto;
 overflow: hidden;
  position: absolute;
  right: 0;
  top: 800px;
  width: 320px;
  border: 15px solid #802216;
}
ion-item
{
  border-radius: 5px;
  background-color: black;
  width: 250px;
  left: 18px;
  //width: 250px;
  //left: 18px;
}
ion-fab
{
 position: absolute;
 top: 680px;
 
}

  .p-contenedorBotones {
    padding: 0 10px 10px;
  }

  ion-input{
  
    border-radius:0px;
    border:1px solid #802216;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:16px 73px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
 
   
  }

.botonQ
{
    position: relative;
    width: 250px;
    left: 18px; 
}
.botonQR
{
    position: relative;
    width: 50px;
    left: 210px; 
    top: -12px;
}
.botonR
{
    position: absolute;
    width: 250px;
    left: 18px; 
}
.label
{
    position: absolute;
  width: 180px;
  
}
.select
{
  position: relative;
  top: 265px;
  width: 255px;
  left: 70px;
  
}
