<ion-app>


  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
      <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
      
     
  <!-- SPLASH -->

   
<div class="splashAnimado">
      <img src="../assets/img/icon.png" class = "b img1">
</div>
   
<!--div class="box1">
  <img src="../assets/img/fondoIcon.png" class = "img1">
  <img src="../assets/img/dibujoIcon.png" class = "img2">
</div>



<div class="box2">
  <img src="../assets/img/soloLetrasIcon.png" class = "img3">
</div-->

<div class="box3">
  <img src="../assets/img/NATIB.png" class = "img4">
</div>

<div class="box4">
  <img src="../assets/img/JULIB.png" class = "img5">
</div>
   
 <!-- END Splash -->
</div>
</ion-col>

 </ion-row>

</ion-grid>

<ion-router-outlet></ion-router-outlet>

</ion-app>

