#custom-overlay {     // Esto seria el fondo de pantalla
    position: fixed;   
    top: 0;              
    right: 0;               
    bottom: 0;                    
    left: 0;                            
    z-index: 99999;  // POR ENCIMA DE TODO                              
    width:100%;             
    background-color: #a52d1dc7; // ESTO ES PARA Q NO SE VEA EL FONDO.              
}
       


.splashAnimado {
    --background:none;
    background: url("../assets/img/N.png") no-repeat center / cover;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }



.img1{
  
  position:absolute;
  top:52%;
  left:52%;
  transform:translate(-50%, -50%); // SIEMPORE MEDIO
  width:250px;
  height:250px;
  //z-index: 111;
  
  
}
.img2
{
  position: absolute;
  left: 33px;
  top: 30%;
  width:355px;
  height: 355px;
  z-index: 111;
}
.img3
{
  position: absolute;
  left: 30px;
  top: 30%;
  width: 355px;
  height: 355px;
  z-index: 111;
}
.img4
{
  position: absolute;
  left: 25px;
  top: 62%;
  width: 360px;
  height: 360px;
  z-index: 111;
}
.img5
{
  position: absolute;
  left: 25px;
  top: 70%;
  width: 360px;
  height: 360px;
  z-index: 111;
}

.box1 .img2{
  animation: giro 8s infinite; 
 
}
.box2 .img3{
  animation: giro 8s 1; 
 
}
.box3 .img4{
  animation: slideInLeft 2s 1; 
 
}
.box4 .img5{
  animation: slideInRight 2s 1; 
 
}

@keyframes giro{ 
  0%{
    opacity: 0;
    transform: rotate(-200deg);    
  }
  100%{ 
    opacity: 1;
  } 
}
@keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 
  @keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 
   
     
      @keyframes zoomIn {
      0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
      }
      50% {
      opacity: 1;
      }
      } 
      .splashAnimado .b{   // Le indicamos a todo lo que este dentro de la clase box y la clase b que se mueva

        animation: giro 2.1s ;  //Aca definimos el movimiento, 1- Nombre de la propiedad(lo inventas vos al nombre), 2- la velocidad de la animacion, 3- Cuanto se ejecutara osea si es infinito o un cierto tiempo
          backface-visibility: visible;
      }